<div class="cheese">
  <h3><%= item["name"] %></h3>
  <div class="aspects">
    <p>Stink Level: <%= item["stank_level"] %></p>
    <p>Country: <%= item["country"] %></p>
    <p>Type: <%= item["milk_type"] %></p>
  </div>
  <% if item["show"] %>
    <p><%= item["desc"] %></p>
  <% end %>
  <br/>
  <% if item["image_url"] == "" %>
   <a href="/<%= item["id"].gsub(':','/') %>"><img src="http://wedgeintheround.files.wordpress.com/2013/11/cheese1.jpg?w=568&h=430&crop=1" width="400px"/></a>
  <% else %>
  <a href="/<%= item["id"].gsub(':','/') %>"><img src="<%= item["image_url"] %>" width="400px"/></a>
  <% end %>
  <% binding.pry%>
  <% if @show_page_edits == true %>
<form method="POST" action="/cheese/<%= item["id"]%>">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Remove">
</form>


<!-- <form method="POST" action="/cheese/<%= item["id"]%>">
  <input type="hidden" name="_method" value="PUT" />
    #.. all of your form fields
  <input type="submit" value="Update">
</form> -->

<form action="/update_form_request/<%= item["id"]%>" method="POST">
  <input type="submit" value="Update">
</form>
<% end %>
</div>



<!-- <form method="POST" action="/cheese/<%= item["id"]%>">
  <input type="hidden" name="_method" value="PUT" />
    #.. all of your form fields
  
  <input type="submit" value="Remove">
</form>
 -->

